*{
    box-sizing:border-box;
}
html,body{
    padding:0px;
    margin:0px;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: rgb(40, 50, 82);
    font-family: 'Baloo Thambi 2', cursive;
    color: white;
}
.container{
    background-color:white;
    text-align: center;
    width:400px;
    border-radius: 4%;
    background-image: url("images/night.png");
    box-shadow: 3px 2px 3px rgba(255, 255, 255, 0.5);
}
.head{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.head>.fas{
    font-size: 30px;
}
h2{
    font-size: xx-large;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
    padding:0px;
}
#input{
    height: 40px;;
    width:260px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    border: 1px solid rgba(40, 50, 82, 0.5);
    font-size: larger;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(225, 225, 225, 0.6);
    background-color: rgba(225, 225,225,0.2);
    color: white;
    text-decoration: none;
}
#input::placeholder{
    font-size:14px;
    color:rgb(225, 225,225, 0.8);
}
.weather-container{
    background-color:rgba(225, 225,225,0.2);
}
.float{
    display:flex;
    justify-content: space-around;
}
.tempdiv{
    margin-left: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.imgdiv{
    display: flex;
    align-items: center;
    margin-right: 2%;
}
.fa-exclamation-circle{
    font-size: 50px;
    color:rgb(220, 220, 220)
}
.message{
    color:white;
    font-size: 22px;
    font-weight: 500;
}
#erroricon{
    padding-top:12%
}

#temperature{
    font-size: 50px;;
    font-weight: bold;
    padding:0px;
    margin:0px;
}
#max-min{
    font-size:20px;
    font-weight: 600;
    padding:0px;
    margin:0px;
}
#celcius{
    font-size:30px;
    font-style: italic;
    padding:0px;
    margin:0px;
}
#weather{
    font-size: 33px;
    font-weight: 600;
    padding:0px;
    margin:0px;
    
}
#city,#date{
    font-size: larger;
    font-weight: 500;
    padding:0px;
    margin:0px;
}
.hum_vis{
    margin-top:12px;
    display:flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color:whitesmoke;
    margin:20px;
}
.link{
    margin:10px 0px 10px 0px;
}
